<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vicky's blog</title>
</head>
<body>
    <div>
        <h1><a href="">Vicky's blog</a></h1>
    </div>

    <div>
        <p>published: 26.09.2016, 12.00</p>
        <h2><a href="">My first post</a></h2>
        <p>Sometimes I find the world difficult. It's a place for extroverts and outgoing people. I am neither. I don't particularly like people.</p>
    </div>

    <div>
        <p>published: </p>
        <h2><a href="">My second post</a></h2>
        <p>So that was a rant but not what I want this blog to be about.</p>
    </div>
</body>
</html>