.page-header {
    background-color: #20B2AA;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}


.page-header h1, .page-header i, .page-header h1 a:visited, .page-header h1 a:active{
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-top: 30px;
    margin-left: 40px;
    font-family: 'Coming Soon';
}

h1, h2, h3, h4 {
    font-family: 'Coming Soon', cursive;
}

.date {
    color: #20B2AA;
    float: right;
    margin-right: 5px;
}

.save {
    float: right;
}

.post-form textarea, post-form input {
    width: 100%;
}

.top-menu, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.small {
    font-size: 90%;
    margin-top: 50px;
}

.add {
    float: left !important;
}

.btn {
    float: right;
    color: #20B2AA;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000
}

.comment {
    margin: 20px 0px 20px 20px
}